body {
    background-color: #f7f3e8; /* Pastel claro */
    color: #3e2723;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

#arena {
    width: 900px;
    height: 600px;
    border: 10px solid #8bc34a; /* Borde verde claro tropical */
    border-radius: 15px;
    position: relative;
    background-color: #c8e6c9; /* Fondo de arena verde pastel */
    overflow: hidden; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* UI DE VIDA */
#ui-juego {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.nombre-jugador {
    font-family: 'Banger', cursive;
    font-size: 1.5em;
    color: #3e2723;
    text-shadow: 1px 1px 0 #fff;
}

.barra-vida-container {
    width: 40%;
    text-align: center;
}

.barra-vida-exterior {
    height: 20px;
    background-color: #ecf0f1; /* Gris claro */
    border: 2px solid #3e2723;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.barra-vida-interior {
    height: 100%;
    width: 100%; /* El JS lo ajusta */
    transition: width 0.3s ease;
}

#barra-p1 { background-color: #ff9800; } /* Naranja Cítrico */
#barra-p2 { background-color: #e91e63; } /* Rosa Tropical */
#p1-vida-texto, #p2-vida-texto { font-weight: bold; }


/* Personajes */
.fruta-personaje {
    width: 60px;
    height: 60px;
    position: absolute;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: left 0.05s, bottom 0.05s; 
    border: 3px solid #3e2723;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.p1 { background-color: #ffd600; } /* Fondo amarillo */
.p2 { background-color: #69f0ab; } /* Fondo verde agua */

/* Proyectiles */
.proyectil {
    width: 15px;
    height: 15px;
    background-color: #ffcc80; /* Melocotón */
    border-radius: 50%;
    position: absolute;
    border: 2px solid #3e2723;
    box-shadow: 0 0 5px #ff9800;
}

#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Banger', cursive;
    font-size: 5em;
    color: #f39c12;
    z-index: 10;
    text-shadow: 4px 4px 0 #3e2723;
}