/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Banger&family=Pacifico&family=Quicksand:wght@400;700&display=swap');

body {
    background-color: #f7f3e8; 
    color: #3e2723;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

#arena {
    width: 950px; 
    height: 650px; 
    border: 10px solid #8bc34a; 
    border-radius: 20px;
    position: relative;
    background-color: #d4e157; 
    background-image: linear-gradient(to top, #aed581 0%, #d4e157 100%); 
    overflow: hidden; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.arena-title {
    font-family: 'Banger', cursive;
    color: #3e2723;
    position: absolute;
    top: 5px; 
    width: 100%;
    text-align: center;
    font-size: 2em; /* Tamaño ajustado para UI */
    text-shadow: 2px 2px 0 #fff, 4px 4px 0 #ff9800;
}

/* UI DE VIDA */
#ui-juego {
    position: absolute;
    top: 45px; /* Espacio debajo del título */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 5;
}

.nombre-jugador {
    font-family: 'Banger', cursive;
    font-size: 1.3em; /* Tamaño ajustado para UI */
    color: #3e2723;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap; 
}

.p1-text { color: #ff9800; } 
.p2-text { color: #e91e63; } 

.barra-vida-container {
    width: 35%; 
    text-align: center;
}

.barra-vida-exterior {
    height: 20px;
    background-color: #ecf0f1; 
    border: 2px solid #3e2723;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.barra-vida-interior {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease;
}

.p1-color { background-color: #ff9800; } 
.p2-color { background-color: #e91e63; } 

/* Personajes */
.fruta-personaje {
    width: 60px;
    height: 60px;
    position: absolute;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: left 0.05s, top 0.05s; 
    border: 3px solid #3e2723;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.p1 { background-color: #ffd600; } 
.p2 { background-color: #69f0ab; } 

/* Proyectiles */
.proyectil {
    width: 20px; 
    height: 20px;
    background-color: #ffcc80; 
    border-radius: 50%;
    position: absolute;
    border: 2px solid #3e2723;
    box-shadow: 0 0 5px #ff9800;
}

#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Banger', cursive;
    font-size: 5em;
    color: #ff9800;
    z-index: 10;
    text-shadow: 4px 4px 0 #3e2723;
}
